__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.sqlite3
*.log
/media
/static
*.egg-info/
*.egg
.tox/
.scrapy/
.coverage
htmlcov/
.pytest_cache/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.mo
*.pot
*.pot.log
local_settings.py
db.sqlite3
instance/
.webassets-cache
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.local
